
<%-include ('./partials/header.ejs') %>

<div class="container">
  

    <div class="row" style="margin-top:100px">
      
        <div class="col-3"></div>
        <div class="col-6">
            <header>
                <h1> <p class="text-primary" >Welcome to my Bio!</p> </h1>
            </header>
        </div>
        <div class="col-3"></div>
    </div>




    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
        
        </div>
        <div class="col-4"></div>
    </div>

    <div class="row">
        <div class="col-1"></div>
        <div class="col-5">
            <img src="../../images/eliaspic2.png" alt="Elias Image" >
        </div>
        <div class="col-5"> 
            <h2>
                <p class="text-info">A little about me</p>
            </h2>
            
            <h3> <p class="text-secondary">My name is Elias, I am an international student in Canada, I am originally from Paraguay.</br> I love to travel and to learn about new cultures. 
            </br>I like soccer, to cook and building websites.</br> I prefer JavaScript above other programming languages.
            </br> In the future I would like to have my own successful eCommerce business and work from remote countries like Philippines, Thailand or Italy. 
            </br> When I finish school on august I will move to live in Winnipeg, one of the coldest cities in the world, so the adventure still continues! </p> </h3>
            </div>
            <div class="col-1"></div>
    </div>




<!-- Form -->
    <div class="row" id="contactMe" style="margin-top:50px">
        <div class="col-4"></div>
        <div class="col-4">
          <form class="form1">
            <div class="form-group">
              <label class="text-primary" style="font-size: 20px; font-weight: 1000;">Please contact me!!</label>

              <input type="text" class="form-control" style="margin-top: 15px;"  placeholder="Enter Name">
         
              <input type="email" class="form-control" style="margin-top: 15px;"   placeholder="Enter email">
      
              <input type="text" class="form-control"  style="margin-top: 15px;" placeholder="Enter Message">
    
              <input type="text" class="form-control" style="margin-top: 15px;" placeholder="Phone Number">
    
              <button class="btn btn-primary " style="margin-top: 15px;">Send</button>

    
        </div>

        <div class="col-4"></div>    

</div>


<%include ('./partials/footer.ejs') %>   


<!-- normal class code -->
<!-- <%- include ('./partials/header.ejs') %>
<div class="container">
  


            <header>
                <h1> Contact Page</h1>
            </header>
             <h2>
                <p>Do not forget to contact US!</p>
            </h2>
            
            <h3> <p >Our contact number is: 543-2100-12345</p> </h3>
        
    </div>

       
      

        

</div>


<%include ('./partials/footer.ejs') %>   -->